In [246]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [247]:
df=pd.read_csv('size.csv')

In [265]:
df

    height  size
0      160     0
1      163     0
2      165     0
3      168     0
4      170     0
5      171     0
6      173     0
7      175     1
8      178     1
9      180     1
10     183     1
11     185     2
12     188     2
13     190     2
14     193     2
15     195     2

In [266]:
X=df[['height']]
y=df[['size']]
y

    size
0      0
1      0
2      0
3      0
4      0
5      0
6      0
7      1
8      1
9      1
10     1
11     2
12     2
13     2
14     2
15     2

In [267]:
from sklearn.neighbors import KNeighborsClassifier
rf_reg=KNeighborsClassifier(n_neighbors=3)
rf_reg.fit(X,y)

/home/san/.local/lib/python3.8/site-packages/sklearn/neighbors/_classification.py:179: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

KNeighborsClassifier(n_neighbors=3)

In [268]:
df

    height  size
0      160     0
1      163     0
2      165     0
3      168     0
4      170     0
5      171     0
6      173     0
7      175     1
8      178     1
9      180     1
10     183     1
11     185     2
12     188     2
13     190     2
14     193     2
15     195     2

In [269]:
y_pred=rf_reg.predict(X)

In [270]:
y_pred

array([0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 2, 2, 2, 2, 2])

In [271]:
y_test

    size
12     2
4      0
1      0
9      1

In [272]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y,y_pred)

array([[7, 0, 0],
       [0, 4, 0],
       [0, 0, 5]])

In [273]:
from sklearn.metrics import accuracy_score
accuracy_score(y,y_pred)

1.0

In [34]:
np.max(X)

110

In [50]:
import statistics as st
x=[1,2,3,4,5,6]

In [51]:
st.mean(x)

3.5

In [52]:
st.pvariance(x)

2.9166666666666665

In [54]:
st.pstdev(x)

1.707825127659933

In [57]:
from sklearn.metrics import explained_variance_score
y_true=[-1,2,-5,4]
y_pred=[0,3,-4,]

3